In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("adult.data.csv")
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [2]:
#Quantas pessoas de cada raça estão representadas neste dataset?
df["race"].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [6]:
df_novo = df.sample(n=10, random_state=42) 
df_novo.to_csv('sample.csv')

In [5]:
#Qual é a média de idade dos homens?

In [7]:
df_h = df[df["sex"] == "Male"]
idade_media = df_h["age"].mean()
idade_media

39.43354749885268

In [10]:
#Qual é a porcentagem de pessoas que têm um diploma de bacharel?
df["education"].value_counts()

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [15]:
bacharelados = df[df["education"] == "Bachelors"].shape[0]
print(bacharelados)
total = df.shape[0]
porc_bach = (bacharelados/total) * 100
porc_bach

5355

16.44605509658794

In [17]:
#Qual é a porcentagem de pessoas com educação superior (Bachelors, Masters, ou Doctorate - graduados, mestres e doutores, respectivamente) que ganham mais de 50 mil?
academicos =  df[df["education"] == "Bachelors"].shape[0] + df[df["education"] == "Masters"].shape[0] + df[df["education"] == "Doctorate"].shape[0]
(academicos/total)*100

23.006050182733944

In [26]:
df_grad = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
total = df_grad.shape[0]
mais_q_50 = df_grad["salary" ].value_counts()[1]
(mais_q_50/total) * 100

46.535843011613935

In [27]:
# Qual é a porcentagem de pessoas sem educação superior que ganham mais de 50 mil?
df_nao_graduados = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
total = df_nao_graduados.shape[0]
mais_q_50 = df_nao_graduados["salary" ].value_counts()[1]
(mais_q_50/total) * 100

17.3713601914639

In [29]:
#Qual é o número mínimo de horas que uma pessoa trabalha por semana?
df["hours-per-week"].value_counts().min()

1

In [37]:
#Qual é a porcentagem das pessoas que trabalham o número mínimo de horas por semana e que têm um salário superior a 50 mil?
df_min_hour= df[df["hours-per-week"] == 1]
total = df_min_hour.shape[0]
mais_q_50 =  df_min_hour["salary" ].value_counts()[1]
#(mais_q_50/total) * 100
df_min_hour["salary" ].value_counts()

<=50K    18
>50K      2
Name: salary, dtype: int64

In [44]:
#Qual país tem a maior porcentagem de pessoas que ganham > 50mil e qual é essa porcentagem?
df_50 = df[df["salary" ] == ">50K"]
(df_50["native-country"].value_counts().max()/df_50.shape[0])*100

91.45517153424308

In [52]:
#Identifique a ocupação mais popular entre aqueles que ganham > 50 mil na Índia.
#df_india = df[df["native-country" == "India"]]
df_india = df[df['native-country'] == 'India']

#df["native-country"].value_counts()
df_india = df_india[df_india["salary" ] == ">50K"]
df_india["occupation"].value_counts()

Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64